#page-container {
  position: relative;
  min-height: 100vh;
  color: #fffaee;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 200;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

#game {
  display: flex;
  align-items: center;
}

.bg-green {
  background-color: #08544e;
}

.bg-light-green {
  background-color: #aed489;
}

.bg-yellow {
  background-color: #fb8b62;
}

.text-light-green {
  color: #aed489;
}

.text-yellow {
  color: #a6cff4;
  font-size: medium;
  font-family: Tahoma, sans-serif !important;
  text-decoration: none;
}

.text-yellow-heart {
  color: #a6cff4;
}

.text-orange {
  color: #fb8b62;
  font-family: 'Press Start 2P';
}

.text-gray {
  color: #fffaee;
}

.nav-link:hover {
  color: #fb8b62 !important;
}

a:hover {
  color: #fb8b62 !important;
}

.text-blue {
  color: #a6cff4;
  font-size: medium;
  font-family: Tahoma, sans-serif !important;
  text-decoration: none;
}

html {
  /* scrollbar firefox */
  scrollbar-color: rgb(1, 1, 1) rgb(110, 110, 110);
}

/* Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. */

::-webkit-scrollbar {
  /* width */
  width: 12px;
}

::-webkit-scrollbar-track {
  /* Track */
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: rgb(158, 158, 158);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: rgb(110, 110, 110);
}

::-webkit-scrollbar-track-piece {
  /* not handle on */
  background: #ffffff;
}

.mt-c {
  margin-top: 4%;
}
