#page-container {
  position: relative;
  min-height: 100vh;
  color: #fffaee;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 200;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

#game {
  display: flex;
  align-items: center;
}

.bg-green {
  background-color: #08544e;
}

.bg-light-green {
  background-color: #aed489;
}

.bg-yellow {
  background-color: #fb8b62;
}

.text-light-green {
  color: #aed489;
}

.text-yellow {
  color: #a6cff4;
  font-size: medium;
  font-family: Tahoma, sans-serif !important;
  text-decoration: none;
}

.text-orange {
  color: #fb8b62;
  font-family: 'Press Start 2P';
}

.text-gray {
  color: #fffaee;
}

.nav-link:hover {
  color: #fb8b62 !important;
}

a:hover {
  color: #fb8b62 !important;
}

.text-blue {
  color: #a6cff4;
  font-size: medium;
  font-family: Tahoma, sans-serif !important;
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
